@font-face {
  font-family: Fredoka;
  src: url("../assets/fonts/Fredoka.ttf");
}

body {
  font-family: 'Fredoka';
  min-height: 100vh;
  margin: 0; padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../assets/img/grey-textured-background_24972-763.avif");
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

 img {
    height: auto;
    width: 30%;
}

 .nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}